<!-- Main site section -->

<main>
  <section class="site-title">
    <div class="site-background">
      <h3>XirSys</h3>
      <h1>We Craft Your Web Experiences</h1>
      <a href="#" class="button">Let's Chat</a>
    </div>
  </section>

  <section class="card-sec">
    <div class="card-title">
      <h1>What we offer</h1>
    </div>
    <div class="cards-wrapper">

      <div class="card-grid-space">
        <div class="num">01</div>
        <a class="card" href="https://codetheweb.blog/2017/10/06/html-syntax/" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
          <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
              <div class="tag">HTML</div>
            </div>
          </div>
        </a>
      </div>

      <div class="card-grid-space">
        <div class="num">02</div>
        <a class="card" href="https://codetheweb.blog/2017/10/09/basic-types-of-html-tags/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
          <div>
            <h1>Basic types of HTML tags</h1>
            <p>Learn about some of the most common HTML tags…</p>
            <div class="date">9 Oct 2017</div>
            <div class="tags">
              <div class="tag">HTML</div>
            </div>
          </div>
        </a>
      </div>

      <div class="card-grid-space">
        <div class="num">03</div>
        <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
          <div>
            <h1>Links, images and about file paths</h1>
            <p>Learn how to use links and images along with file paths…</p>
            <div class="date">14 Oct 2017</div>
            <div class="tags">
              <div class="tag">HTML</div>
            </div>
          </div>
        </a>
      </div>
      <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </div>
  </section>

  <section class="text-cont">
    <h1>I am Important</h1>
    <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Nulla possimus sequi, odit neque assumenda illum dolor accusantium, distinctio dolores, alias harum excepturi, beatae praesentium? Tempore ex minima, id aliquam harum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae error beatae nobis natus quod in eligendi dolore perferendis eaque ullam labore voluptates nihil, excepturi sed doloremque iure a mollitia.</p>
    <a href="#" class="button">Let's Chat</a>
  </section>

  <section class="card-content">
    <h1>I am Important</h1>
    <div class="row1-container">
      <div class="box box-down cyan">
        <h2>Supervisor</h2>
        <p>Monitors activity to identify project roadblocks</p>
        <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
      </div>

      <div class="box red">
        <h2>Team Builder</h2>
        <p>Scans our talent network to create the optimal team for your project</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>

      <div class="box box-down blue">
        <h2>Calculator</h2>
        <p>Uses data from past projects to provide better delivery estimates</p>
        <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
      </div>
    </div>
    <div class="row2-container">
      <div class="box orange">
        <h2>Karma</h2>
        <p>Regularly evaluates our talent to ensure quality</p>
        <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
      </div>
    </div>
  </section>


  <section class="contact section" id="contact" style="">
    <h1>Let's have a coffe together !</h1>

    <div class="bigcont-form">
      <div class="container-form">
        <div class="content">
          <div class="left-side">
            <div class="address details">
              <i class="fas fa-map-marker-alt" style="color: var(--first-color)"></i>
              <div class="topic">Address</div>
              <div class="text-one">Surkhet, NP12</div>
              <div class="text-two">Birendranagar 06</div>
            </div>
            <div class="phone details">
              <i class="fas fa-phone-alt" style="color: var(--first-color)"></i>
              <div class="topic">Phone</div>
              <div class="text-one">+0098 9893 5647</div>
              <div class="text-two">+0096 3434 5678</div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope" style="color: var(--first-color)"></i>
              <div class="topic">Email</div>
              <div class="text-one">codinglab@gmail.com</div>
              <div class="text-two">info.codinglab@gmail.com</div>
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text">Send us a message</div>
            <p>Want information or to colaborate, let s talk</p>
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Enter your name">
            </div>
            <div class="input-box">
              <input type="text" placeholder="Enter your email">
            </div>
            <div class="input-box message-box">

            </div>
            <div class="button-contact">
              <input type="button" value="Send Now" >
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>
